<div>
  <app-navigation-bar></app-navigation-bar>
  <div class="container" *ngIf="exam">
    <h1 class="mt-3 font-weight-bold">Exam / {{ exam.name }} / Item Analysis</h1>
    <canvas mdbChart
      chartType="pie"
      [data]="chartData"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
    <table class="table" small="true">
      <thead>
        <tr>
          <th>Item #</th>
          <th>Correct</th>
          <th>Difficulty</th>
          <th>Discrimination Index</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of analysis;" >
          <td>{{ data.item_num }}</td>
          <td>{{ data.correct }}</td>
          <td>{{ data.difficulty }} %</td>
          <td>{{ data.index }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>