<div class="data" *ngIf="exam | async; let exam_data;">
  <app-navigation-bar></app-navigation-bar>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mt-3 font-weight-bold">Exam / {{ exam_data.name }}</h1>
        <h5 class="mb-0">Total items: {{ exam_data.items }}</h5>
        <h5 class="mb-3">Exam Date: {{ exam_data.date }}</h5>
      </div>
      <div class="col">
        <canvas mdbChart
            [chartType]="chartType"
            [data]="chartData"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <h3 class="mb-0 font-weight-bold">Class List</h3>
    <table class="table" small="true">
      <thead>
        <tr>
          <th>Title</th>
          <th>Enrolled</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let class_d of exam_data.classesDatas" >
        <tr *ngIf="class_d | async; let class_data">
          <td>{{ class_data.name }}</td>
          <td>Enrolled: {{ class_data.students.length }}</td>
          <td>
            <button mdbBtn type="button" color="primary" class="waves-light" size="sm" mdbWavesEffect routerLink="/classes/{{ class_data.id }}">View</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 class="mb-1 font-weight-bold">Papers List</h3>
    <div class="row" *ngIf="exam_data.papersDatas | async; let papers">
      <div class="col-3 mb-3" *ngFor="let paper of papers">
        <mdb-card *ngIf="paper.studentData | async; let student">
          <mdb-card-img [src]="paper.imgUrl" alt="Paper Image" routerLink="/papers/{{ paper.id }}"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title>
              <h4 class="mb-0">{{ student.firstName }} {{ student.lastName }}</h4>
              <h5>Score: {{ paper.score }} / {{ paper.items }}</h5>
            </mdb-card-title>
            <button mdbBtn color="danger" mdbWavesEffect class="w-100" (click)="showRemovePaperConfirmation(paper.id)"><mdb-icon icon="trash" class="ml-1"></mdb-icon> Delete</button>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <div style="display: block; width: 50%;">
      
    </div>
  </div>

  <div mdbModal #delete_paper_modal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
      <div class="modal-content" *ngIf="selectedPaper | async; let selectedPaper_data">
        <div class="modal-header">
          <p class="heading lead mb-0">Delete?</p>
          <button type="button" class="close pull-right" aria-label="Close" (click)="delete_paper_modal.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="align-center">Are you sure you want to delete "<strong>{{ selectedPaper_data.name }}</strong>" Exam ({{ selectedPaper_data.examName }})?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" mdbBtn color="danger" class="relative waves-light" (click)="deletePaper(selectedPaper_data.id)" mdbWavesEffect>DELETE</button>
          <button type="button" mdbBtn color="outline-danger" class="waves-light" aria-label="Close" (click)="delete_paper_modal.hide()" mdbWavesEffect>Close</button>
        </div>
      </div>
    </div>
  </div>

</div>