<div class="login-bg w-100 h-100">
    <div id="login" class="m-auto">
        <div class="mb-4 text-center">
            <img src="assets/images/logo.png" alt="Quick Grade Logo">
        </div>
        <h1 class="mb-5 text-center font-weight-bold">Quick Grade</h1>
        <div #alert class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ alert_message }}
        </div>
        <div class="form">
            <form [formGroup]="userForm" (ngSubmit)="signInWithEmail()">
                <input type="email" class="form-control mb-3" formControlName="email" [mdbValidate]="false" mdbInputDirective placeholder="Email">
                <input type="password" class="form-control mb-3" formControlName="password" [mdbValidate]="false" mdbInputDirective placeholder="Password">
                <button type="submit" class="btn btn-info btn-block mb-4">Sign in</button>
            </form>
            <button type="button" class="btn btn-danger btn-block" (click)="signInWithGoogle()">
                <i class="fa fa-google" aria-hidden="true"></i> Login with Google 
            </button>
            <div class="my-3 text-center w-100">
                Don't have an account? <div class="font-weight-bold text-primary text-hover d-inline" (click)="showCreateUserForm()">SIGN UP</div>
            </div>
        </div>
    </div>

    <div mdbModal #create_user="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeCreateUserForm()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <p class="heading lead mb-0">Create Account</p>
                </div>
                <form [formGroup]="userCreateForm" (ngSubmit)="createAccountRegular()">
                    <div class="modal-body">
                        <div class="md-form">
                            <input mdbInputDirective type="email" id="email" class="form-control" formControlName="email" [mdbValidate]="false">
                            <label for="email" class="">Email</label>
                        </div>
                        <div class="md-form">
                            <input mdbInputDirective type="password" id="password" class="form-control" formControlName="password" [mdbValidate]="false">
                            <label for="password" class="">Password</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Create</button>
                        <button type="button" mdbBtn color="blue-grey" class="waves-light" aria-label="Close" (click)="closeCreateUserForm()" mdbWavesEffect>Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>