<div >
  <app-navigation-bar></app-navigation-bar>
  <div *ngIf="paper && student && exam" class="container">
    <div class="row">
      <div class="col-6">
        <h3 class="mt-3">Student: <span class="font-weight-bold">{{ student.firstName }} {{ student.lastName }}</span></h3>
        <h3>Exam: <span class="font-weight-bold">{{ exam.name }}</span></h3>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <h3 style="margin-top: 26px;text-align: center;">Score: </h3>
          </div>
          <div class="col-7">
            <mdb-card class="text-white mb-3" bgColor="bg-secondary">
              <mdb-card-body class="info-color">
                <mdb-card-text class="text-white">
                  <span class="score">{{ paper.score }}</span>
                  <span class="diagonal-line"></span>
                  <span class="items">{{ paper.items }}</span>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-2">
            <button mdbBtn type="button" color="primary" class="waves-light" size="sm" mdbWavesEffect [routerLink]="'/paper//'+paper_id+'/edit'">Edit Keys</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <table class="table" small="true">
          <thead>
            <tr>
              <th class="w-25">#</th>
              <th class="w-25">Correct Answer</th>
              <th class="w-25">Student Answer</th>
              <th class="w-25">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let studentAnswer of paper.studentAnswers;let i">
              <td>{{ studentAnswer.itemNumber }}</td>
              <td>{{ exam.answers[(+studentAnswer.itemNumber) - 1].answer }}</td>
              <td><span (click)="paperEdit((+studentAnswer.itemNumber) - 1)">{{ studentAnswer.answer }}</span></td>
              <td *ngIf="studentAnswer.correct"><i class="fa fa-check green-text" aria-hidden="true"></i></td>
              <td *ngIf="!studentAnswer.correct"><i class="fa fa-times red-text" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <img *ngIf="paper.imgUrl" [src]="paper.imgUrl" class="w-100" />
        <p *ngIf="!paper.imgUrl" class="font-weight-bold">No Image Available</p>
      </div>
    </div>
  </div>
  <div mdbModal #studentPaperUpdateAnswer="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead mb-0">Update Answer</p>
          <button type="button" class="close pull-right" aria-label="Close" (click)="studentPaperUpdateAnswer.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form [formGroup]="paperForm" (ngSubmit)="paperFormOnSubmit()">
          <input mdbInputDirective type="hidden" id="x" class="form-control" formControlName="x">
          <div class="modal-body">
            <div class="row mb-3">
              <div class="col">
                <div class="custom-control custom-radio">
                  <input mdbInputDirective type="radio" id="answer-a" class="custom-control-input"  value="A" formControlName="answer" [mdbValidate]="false">
                  <label class="custom-control-label" for="answer-a">A</label>
                </div>
                <!-- <div class="form-check mt-0">
                  <input mdbInputDirective type="radio" id="answer-a" class="form-check-input" value="A" formControlName="answer" [mdbValidate]="false">
                  <label for="answer-a" class="form-check-label">A</label>
                </div> -->
              </div>
              <div class="col">
                <div class="custom-control custom-radio">
                  <input mdbInputDirective type="radio" id="answer-b" class="custom-control-input"  value="B" formControlName="answer" [mdbValidate]="false">
                  <label class="custom-control-label" for="answer-b">B</label>
                </div>
                <!-- <div class="form-check mt-0">
                  <input mdbInputDirective type="radio" id="answer-b" class="form-check-input" value="B" formControlName="answer" [mdbValidate]="false">
                  <label for="answer-b" class="form-check-label">B</label>
                </div> -->
              </div>
              <div class="col">
                <div class="custom-control custom-radio">
                  <input mdbInputDirective type="radio" id="answer-c" class="custom-control-input"  value="C" formControlName="answer" [mdbValidate]="false">
                  <label class="custom-control-label" for="answer-c">C</label>
                </div>
                <!-- <div class="form-check mt-0">
                  <input mdbInputDirective type="radio" id="answer-c" class="form-check-input" value="C" formControlName="answer" [mdbValidate]="false">
                  <label for="answer-c" class="form-check-label">C</label>
                </div> -->
              </div>
              <div class="col">
                <div class="custom-control custom-radio">
                  <input mdbInputDirective type="radio" id="answer-d" class="custom-control-input"  value="D" formControlName="answer" [mdbValidate]="false">
                  <label class="custom-control-label" for="answer-d">D</label>
                </div>
                <!-- <div class="form-check mt-0">
                  <input mdbInputDirective type="radio" id="answer-d" class="form-check-input" value="D" formControlName="answer" [mdbValidate]="false">
                  <label for="answer-d" class="form-check-label">D</label>
                </div> -->
              </div>
              <div class="col">
                <div class="custom-control custom-radio">
                  <input mdbInputDirective type="radio" id="answer-e" class="custom-control-input"  value="E" formControlName="answer" [mdbValidate]="false">
                  <label class="custom-control-label" for="answer-e">E</label>
                </div>
                <!-- <div class="form-check mt-0">
                  <input mdbInputDirective type="radio" id="answer-d" class="form-check-input" value="E" formControlName="answer" [mdbValidate]="false">
                  <label for="answer-d" class="form-check-label">E</label>
                </div> -->
              </div>
            </div>
            <div class="form-check mr-sm-2 p-0">
              <mdb-checkbox formControlName="is_correct" [default]="true">Correct</mdb-checkbox>
              <!-- <input mdbInputDirective class="form-check-input" type="checkbox" id="is_correct" formControlName="is_correct" [mdbValidate]="false">
              <label class="form-check-label" for="is_correct">
                Correct
              </label> -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save</button>
            <button type="button" mdbBtn color="outline-primary" class="waves-light" aria-label="Close" (click)="studentPaperUpdateAnswer.hide()" mdbWavesEffect>Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>