<div>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark info-color">
    <mdb-navbar-brand>
      <a href="#" class="navbar-brand">Quick Grade</a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav">
      </ul>
    </links>
  </mdb-navbar>
  <div class="container">
    <div *ngIf="alertMessage" #alert class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
      <span>{{ alertMessage.message }}</span>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 35%;">id</th>
          <th scope="col" style="width: 35%;">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" routerLink="/users/{{user.id}}/classes">Show Class</button>
            <button type="button" class="btn btn-secondary btn-sm" routerLink="/users/{{user.id}}/students">Show Students</button>            
            <button type="button" class="btn btn-default btn-sm" routerLink="/users/{{user.id}}/exams">Show Exams</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>