<div class="data" *ngIf="class | async; let class_data;">
	<app-navigation-bar></app-navigation-bar>
	<div class="container">
		<div class="header mt-3 mb-3">
			<h1 class="font-weight-bold">Class / {{ class_data.name }}</h1>
			<button mdbBtn type="button" color="primary" class="waves-light header-button" size="md" mdbWavesEffect (click)="export_all_student()">Export Students CSV</button>
		</div>
		<h3 class="mb-0 font-weight-bold">Student Lists</h3>
		<table class="table" small="true">
	  		<thead>
				<tr>
					<th class="w-25">Student ID</th>
					<th class="w-25">Firstname</th>
					<th class="w-25">Lastname</th>
					<th class="w-25">Action</th>
				</tr>
		  	</thead>
		  	<tbody *ngFor="let student of class_data.studentsDatas" >
				<tr *ngIf="student | async; let student_data;">
					<th>{{ student_data.customID }}</th>
					<td>{{ student_data.firstName }}</td>
					<th>{{ student_data.lastName }}</th>
					<td>
						<button mdbBtn type="button" color="primary" class="waves-light" size="sm" mdbWavesEffect routerLink="/students/{{ student_data.id }}">View</button>
						<button mdbBtn type="button" color="danger" class="waves-light" size="sm" mdbWavesEffect (click)="showRemoveStudentConfirmation(student_data.id)"><mdb-icon icon="trash" class="ml-1"></mdb-icon></button>
					</td>
				</tr>
		  </tbody>
		</table>
		<div mdbModal #modal_remove_student="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-notify modal-warning" role="document">
				<div class="modal-content" *ngIf="selectedStudent | async; let selectedStudent_data">
					<div class="modal-header">
						<p class="heading lead mb-0">
							Remove {{ selectedStudent_data.firstName }} {{ selectedStudent_data.lastName }}?
						</p>
						<button type="button" class="close pull-right" aria-label="Close" (click)="modal_remove_student.hide()">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<p class="align-center">Are you sure you want to remove <strong>{{ selectedStudent_data.firstName }} {{ selectedStudent_data.lastName }}</strong> in the {{ class_data.name }}'s Class</p>
					</div>
					<div class="modal-footer">
						<button type="submit" mdbBtn color="warning" class="relative waves-light" (click)="removeStudent(selectedStudent_data.id)" mdbWavesEffect>Remove</button>
						<button type="button" mdbBtn color="outline-warning" class="waves-light" aria-label="Close" (click)="modal_remove_student.hide()" mdbWavesEffect>Close</button>
					</div>
				</div>
			</div>
		</div>
		<h3 class="mt-2">Exams</h3>
		<table class="table" small="true">
			<thead>
				<tr>
					<th class="w-25">Name</th>
					<th class="w-25">Scanned Papers</th>
					<th class="w-25">Date</th>
					<th class="w-25">Action</th>
				</tr>
			</thead>
			<tbody *ngFor="let exam of class_data.examsDatas" >
				<tr *ngIf="exam | async; let exam_data;">
					<td>{{ exam_data.name }}</td>
					<td>{{ exam_data.scanned }}</td>
					<td>{{ exam_data.date }}</td>
					<td>
						<button mdbBtn type="button" color="primary" class="waves-light" size="sm" mdbWavesEffect routerLink="/exams/{{ exam_data.id }}">View</button>
						<button mdbBtn type="button" color="danger" class="waves-light" size="sm" mdbWavesEffect (click)="showRemoveExamConfirmation(exam_data.id)"><mdb-icon icon="trash" class="ml-1"></mdb-icon></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div mdbModal #modal_remove_exam="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-notify modal-warning" role="document">
			<div class="modal-content" *ngIf="selectedExam | async; let exam_data">
				<div class="modal-header">
					<p class="heading lead mb-0">Remove {{ exam_data.name }}?</p>
					<button type="button" class="close pull-right" aria-label="Close" (click)="modal_remove_exam.hide()">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="align-center">Are you sure you want to remove the <strong>{{ exam_data.name }}</strong>on the {{ class_data.name }}'s Class</p>
				</div>
				<div class="modal-footer">
					<button type="submit" mdbBtn color="warning" class="relative waves-light" (click)="removeExam(exam_data.id)" mdbWavesEffect>Remove</button>
					<button type="button" mdbBtn color="outline-warning" class="waves-light" aria-label="Close" (click)="modal_remove_exam.hide()" mdbWavesEffect>Close</button>
				</div>
			</div>
		</div>
	</div>
</div>